    body{
        font-family: Calibri;
        background-image: url("../img/Recurso1.png");
        box-sizing: border-box;
        /* background-size: contain; */
    }

    .Ffont{
        font-family: 'Work Sans', sans-serif;
    }

    .bg{
        background-color: #39a900;
    }

    .navbar-nav >li > a{
        font-family: 'Work Sans', sans-serif;
        color: #fff;
    }

    .navbar-nav >li > a:hover{
        color: #fbfbe2;
    }

    span > strong{
        font-family: 'Work Sans', sans-serif;
        font-size: 24px;
    
    }

    span > p{
        font-family: 'Calibri', sans-serif;
        background-color: #39a900;
        color: white;
        border-radius: 8px;
        letter-spacing: 5px;
    }

    .dropdown-menu li{
        position: relative;
    }

    .dropdown-menu .submenu{
        display: none;
        position: absolute;
        left: 100%;
        top: -7px;
    }

    .dropdown-menu>li:hover>.submenu{
        display: block;
    }

    .bT{
        color: #00324d;
    }

    .titulo{
        color: #00324d;
        font-weight: bold;
    }

    .links:hover{
        color: #cb7766;
    }

    .btn{
        color: #fff;
        background-color:#39a900;
    }
    .btn:hover{
        color: #fff;
        background-color: #39a933;
    }

    .equipo{
        text-decoration: none;
        color: #00324d;
    }

    .modal-title{
        color: #00324d;
        font-family: 'Work Sans', sans-serif;
        
    }

    .cont{
        overflow: hidden;
    }

    .card-img-top{
        transition: 0.5;
        transition: transform 400ms;
        object-fit: cover;
        
    }

    .card-img-top:hover{
        transform: scale(1.2);
    }

    tool-tip{
        position: absolute;
        z-index: 1;
        pointer-events: none;
        user-select: none;

        text-shadow: #7c7c7c 1px 0 10px;

        padding: .5rem 5rem;
        font-size: 50px;
        border-radius: 8px;

        top: -50px;
        left:  20.2%;

        opacity: 0;
        transition: opacity .3s ease-overflow;
    }

    :has(> tool-tip){
        position: relative;
    }

    :has(> tool-tip):hover tool-tip{
        opacity: 1;
    }

    tool-tip .tooltip{
        position: absolute;
        z-index: 1;
        pointer-events: none;
        user-select: none;

        text-shadow: #7c7c7c 1px 0 10px;

        padding: .5rem 5rem;
        font-size: 50px;
        border-radius: 8px;

        opacity: 0;
        transition: opacity .3s ease-overflow;
    }

    :has(> tool-tip){
        position: relative;
    }

    :has(> tool-tip):hover tool-tip{
        opacity: 1;
    }

    .carousel img{
        width: 100%;
        height: auto;
    }

    .carousel{
        position: relative;
        background-size: cover;
        -webkit-backdrop-size: cover;
        -moz-background-size: cover;
        -moz-background-size: cover;
    }

    .carousel .carousel-inner{
        overflow: hidden;
    }

    .carousel .carousel-inner .mod1{
        /* background-color: #fff;  */
        position: absolute;
        left: 720px;
        top: 700px;
        z-index: 2px;
    }

    .carousel .carousel-inner .mod2{
        /* background-color: #fff;  */
        position: absolute;
        left: 20px;
        top: 780px;
        z-index: 2px;
    }

    .carousel .carousel-inner .mod2-2{
        /* background-color: #fff;  */
        position: absolute;
        left: 1000px;
        top: 570px;
        z-index: 2px;
    }

    .carousel .carousel-inner .mod3{
        /* background-color: #fff;  */
        position: absolute;
        left: 300px;
        top: 580px;
        z-index: 2px;
    }

    .carousel .carousel-inner .mod3-3{
        /* background-color: #fff;  */
        position: absolute;
        left: 950px;
        top: 540px;
        z-index: 2px;
    }

    .carousel .carousel-inner .mod3-3-3{
        /* background-color: #fff;  */
        position: absolute;
        left: 1550px;
        top: 590px;
        z-index: 2px;
    }

    .carousel .carousel-inner .mod4{
        /* background-color: #fff;  */
        position: absolute;
        left: 550px;
        top: 540px;
        z-index: 2px;
    }

    .carousel .carousel-inner .mod4-4{
        /* background-color: #fff;  */
        position: absolute;
        left: 1290px;
        top: 590px;
        z-index: 2px;
    }
