body{
    font-family: Calibri;
    background-image: url("../img/Recurso1.png");
    box-sizing: border-box;
    background-size: contain;
}

.Ffont{
    font-family: 'Work Sans', sans-serif;
}

.bg{
    background-color: #39a900;
}

.navbar-nav >li > a{
    font-family: 'Work Sans', sans-serif;
    color: #fff;
}

.navbar-nav >li > a:hover{
    color: #fbfbe2;
}

span > strong{
    font-family: 'Work Sans', sans-serif;
    font-size: 24px;
}

span > p{
    font-family: 'Calibri', sans-serif;
    background-color: #39a900;
    color: white;
    border-radius: 8px;
    letter-spacing: 5px;
}

.dropdown-menu li{
    position: relative;
}

.dropdown-menu .submenu{
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
}

.dropdown-menu>li:hover>.submenu{
    display: block;
}

.bT{
    color: #00324d;
}

.titulo{
    color: #00324d;
    font-weight: bold;
}

.links:hover{
    color: #cb7766;
}

.btn{
    color: #fff;
    background-color:#39a900;
}
.btn:hover{
    color: #fff;
    background-color: #39a933;
}

.equipo{
    text-decoration: none;
    color: #00324d;
}

.mod{
    background-color: #fff; 
    position: absolute;
    left: 700px;
    top: 700px;
    z-index: 2px;
}

.modal-title{
    color: #00324d;
    font-family: 'Work Sans', sans-serif;
}

.cont{
    overflow: hidden;
}

.card-img-top{
    transition: 0.5;
    object-fit: cover;
}

.card-img-top:hover{
    transform: scale(1.2);
}